<% include layout-head.ejs %>

<div class="container">
	<h1>About <%= settings.title %></h1>
	<p>This App is a base to develop other web apps that require login and user management by an administrator. There is no functionality apart from the login and user management. There are two roles, 'user' and 'admin'. Users need to be logged in to use the system. Normal users ('user' role) can only change their password. Admin users ('admin' role) can also create new users and edit or delete existing users.</p>
	<p>Users have an optional fullname and initials field in the database.</p>
</div>

<% include layout-foot.ejs %>
