<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">
		<title>Login Example</title>
	    <!-- Latest compiled and minified CSS -->
	    <link rel="stylesheet" href="/css/bootstrap.css">
	    <link rel="stylesheet" href="/css/bootstrap-theme.css">
	</head>
	<body>


		<nav class="navbar navbar-default" role="navigation">
		  <div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/"><%= settings.title %></a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

		      <ul class="nav navbar-nav">

				<% if (locals.user) { %>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">User Settings <span class="label label-info"><%= user.username %></span><span class="caret"></span></a>
					    <ul class="dropdown-menu" role="menu">
							<li class="<% if (locals.active !== 'changepass') { %>in<% } %>active"><a href="/users/changepass">Change Password</a></li>
					    </ul>
					</li>
					<% if (userCan('view admin page')) { %>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin <span class="caret"></span></a>
						    <ul class="dropdown-menu" role="menu">
								<li class="<% if (locals.active !== 'create') { %>in<% } %>active"><a href="/create">Add User</a></li>
								<li class="<% if (locals.active !== 'list') { %>in<% } %>active"><a href="/users">Manage Users</a></li>
						    </ul>
						</li>
					<% } %>
				<% } %>

		      </ul>
		      <ul class="nav navbar-nav navbar-right">
				<% if (locals.user) { %>
					<li class="inactive"><a href="/logout">Log Out</a></li>
				<% } %>
				<li class="<% if (locals.active !== 'about') { %>in<% } %>active"><a href="/about">About</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
